{% extends 'base.html' %}
{% block content %}
<main>
<h2>Export User Record JSON file</h2>
<div class="row">
    <div class="col-12 mb-1">
        <form   action="{% url "users:exportjson" %}" 
                method="post" 
                enctype="multipart/form-data">
            <label name="file"> Filename to export to:</label>
            <input type="text" id="file" name="file" value="certiffy-export-users.json" placeholder="certiffy-export-users.json">
            <button type="submit" class="btn btn-warning">Export</button>
        </form>
    </div>
</main>
{% endblock %}
