{% extends 'base.html' %}
{% block content %}
<main>
    <h2>Reset {{user}}  Password</h2>
    <div class="col-12 mb-1 mt-1">
    <form   method="POST" 
            name="resetpassword"
            enctype="multipart/form-data"
            class="form-horizontal">
	       {% csrf_token %}
           {% for field in form %}
            <div class="fieldWrapper" >
                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            <label class="font-weight-bold" for={{field_label_tag}}>{{ field.label_tag }}</label>
                        </div>
                        {{ field }} 
                        <div class="text-danger">{{ field.errors }}</div>
                        {% if field.help_text %}<div class="help fst-italic">{{ field.help_text|safe }}</div>
                        {% endif %}
                    </div>
            </div>
        {% endfor %}
        <button type="submit"
                formaction="{% url 'users:resetpassword' id %}"
                class="col-sm-1 btn btn-danger mt-1"
                value="change">Reset</button>
    </form>
    </div> <!-- col --> 
</main>
{% endblock %}
