{% extends 'base.html'%}
{% block content %}
<div class="main">
    <h2>Details View</h2>
      <div class="row">
         <div class="col-12 mb-1 mt-1">
            <form   id="detail-form"
                    enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {% for field in form %}
                    <tr class="col-12">
                        <div class="fieldWrapper">
                          <th class="col-4"> {{field.errors}} {{field.label_tag}} </th>
                          <td clas="col-8">{{field.value}} </td>
                        </div>
                    </tr>
                    {% endfor %}
                </table>
         </div> <!-- col -->
      </div> <!-- row -->

      <div class="row">
        <div class="col-12 mb-1 mt-1">
           <button   class="btn btn-warning mb-3"
                    method="GET"
                    formaction="{% url 'certs:update' id %}"
                    type="submit"
           >Edit</button>
           <button  class="btn btn-warning mb-3"
                    method="POST"
                    formaction="{% url 'certs:checkexpiry' id %}"
                    class="btn btn-warning mt-1"
                    type="submit"
           >Check Expiry & Status</button>
           <button  class="btn btn-warning mb-3"
                type="submit"
                method="POST"
                class="btn btn-warning mt-1"
                formaction="{% url 'certs:grade' id %}"
                ><sup>*</sup>Grade External Facing Site ..</button>
           <button  class="btn btn-warning mb-3"
                    type="submit"
                    method="POST"
                    class="btn btn-warning mt-1"
                    formaction="{% url 'certs:mail' id %}"
            >Mail Contact</button>
           <button  class="btn btn-warning mb-3"
                    type="submit"
                    method="POST"
                    class="btn btn-warning mt-1"
                    formaction="{% url 'certs:gencsr' id %}"
            >Generate CSR</button>
          </form>
        </div> <!-- col -->
      </div> <!-- row -->
</main>
{% include 'copyright.html' %}
{% endblock %}
